@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "../features/whiteboard/styles/styles.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ui-font: "Inter Tight", sans-serif !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter Tight", sans-serif;
  --font-mono: "Inter Tight", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Tight", sans-serif;
}
